{% comment %}
  Requires the following arguments:

  - line_item
  - index
{% endcomment %}

<div class="line-item">
  <div class="line-item__left">
    <div class="line-item__image-wrapper">
      <img
        class="line-item__image"
        src="{{ line_item.image | img_url: 'master' }}"
        alt="{{ line_item.image.alt }}" />
    </div>

    <div class="line-item__details">
      <h2 class="line-item__title">{{ line_item.product.title }}</h2>
      {% for option in line_item.options_with_values %}
        <div class="line-item__option-block">
          <span class="line-item__option">{{ option.name }}:</span>
          <span class="line-item__value">{{ option.value }}</span>
        </div>
      {% endfor %}
      <div class="line-item__price">
        {{ line_item.final_line_price | money }}
      </div>
      <div class="line-item__quantity">
        <span class="line-item__quantity-text">Quantity:</span>
        <input
          type="text"
          name="updates[]"
          size="4"
          id="updates_{{ line_item.id }}"
          value="{{ line_item.quantity }}"
        />
      </div>
    </div>
  </div>

  <div class="line-item__right">
    <a class="line-item__remove" href="/cart/change?line={{ index }}&quantity=0">Remove</a>
  </div>
</div>